html {
    min-height: 100%;
    background:#ebebeb;
    font-family:sans;
    font-weight:normal;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.accueil {
    width: 50%;
    padding: 1em;
    margin: 2em auto 2em auto;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    font-size: 2em;
}

.submit {
    margin: 2em 0 1em 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.liste_client {
    width: 50%;
    margin: 1em 0 0 1em;
}

td {
    text-align: center;
}

th {
    background-color: #333;
    color: #f2f2f2;
}

table, th, td {
    border: 1px solid #333;
    font-size: 1em;
}

.signup label {
    margin-left: 0.5em;
}

.signup input {
    margin: 0.5em;
}

.resa form {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.list_chambres {
    max-width: 50%;
    margin: 1em auto 0 auto;
}

.adminmenu, .signup, .login, .resa {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    color: #f2f2f2;
    background-color: #333;
    margin: 1em auto 0 auto;
    padding: 1em;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
}

.adminmenu h3 {
    margin: 1em;
}

/* Navbar */

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
