{% extends "base.html" %}

<!-- Menu d'administration -->
{% block admin %}
<div class="adminmenu">
    <h3>Menu d'administration</h3>
    <div>
        <form action="{{ url_for('admin') }}" method="post">
            <input type="radio" name="action" value="create">
            <label for="create"> Créer la bdd</label><br>
            <input type="radio" name="action" value="insert">
            <label for="insert"> Insérer un jeu de test</label><br>
            <input type="radio" name="action" value="drop">
            <label for="drop"> Supprimer la bdd</label><br>
            <input type="radio" name="action" value="clients">
            <label for="clients"> Voir la liste des clients</label><br>
            <input class="submit" type="submit" value="Submit">
         </form>
    </div>
</div>
    </table>
</div>
<!-- Affichage messages -->
<div class="adminalert">
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <!-- Parse messages -->
    {% for message in messages %}
    <div class=conok>{{ message }}</div>
    {% endfor %}
    {% endif  %}
    {% endwith %}
</div>

{% if result %}
<div class="liste_client">
    <h3>Liste des clients</h3>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse Mail</th>
        </tr>
{% for res in result %}
        <tr>
            <td>{{ res[0] }}</td>
            <td>{{ res[1] }}</td>
            <td>{{ res[2] }}</td>
        </tr>
{% endfor %}
{% endif %}
{% endblock %}

