<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <title>Hôtel Trucmuche</title>
    </head>
    <body>
        <h1>Hôtel Trucmuche</h1>
            <div class="topnav">
                <a href="{{ url_for('index') }}">Accueil</a>
                <a href="{{ url_for('chambres') }}">Voir les chambres</a>
                <a href="{{ url_for('reservation') }}">Reservation</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('admin') }}">Administration</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>

    {% block admin %}{% endblock %}
    {% block login %}{% endblock %}
    {% block accueil %}{% endblock %}
    {% block signup %}{% endblock %}
    {% block chambres %}{% endblock %}
    {% block resa %}{% endblock %}
    </body>
</html>
