{% extends "base.html" %}
{% block chambres %}

{% if result %}
<div class="list_chambres">
    <h3>Lise des chambres</h3>
    <table>
        <tr>
            <th>Numéro de chambre</th>
            <th>Tarif</th>
        </tr>
{% for res in result %}
        <tr>
            <td>{{ res[0] }}</td>
            <td>{{ res[1] }}</td>
        </tr>
{% endfor %}
{% endif %}
{% endblock %}
