{% extends "base.html" %}
{% block login %}
    <div class="login">
        <h3>Formulaire de connexion</h3>
        <form action="/login" method="POST">
            <p>Entrez votre adresse mail</p>
            <p><input type="email" name="email" /></p>
            <p><input type="submit" value="submit" /></p>
        </form>
    </div>
    <div class="login">
        <h3>Pas de compte ?</h3>
        <a href=signup ><button>Enregistrement</button></a>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="login">
        <!-- Parse messages -->
        {% for message in messages %}
        <strong>{{ message }}</strong><br>
        {% endfor %}
        </div>
        {% endif  %}
    {% endwith %}
{% endblock %}
