{% extends "base.html" %}
{% block resa %}
<div class="resa">
	<h3>Vérification de la disponibilité des chambres</h3>
    <form action={{ url_for('reservation') }} method="POST">
        <p>Date d'arrivée:</p>
        <input type="date" name="date_debut" required>
        <p>Date de départ:</p>
        <input type="date" name="date_fin" required>
        <p><input type="submit" value="Valider"></p>
	</form>
</div>
<div class="dispos">
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <!-- Parse messages -->
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
    {% endif  %}
    {% endwith %}

    {% if chDispo %}
    <h3>Les chambres suivantes sont disponibles pour la période demandée</h3>
    <ul>
    {% for row in chDispo %}
        <li>Chambre {{ row[0] }} au tarif de {{ row[1] }} € par nuitée</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
