{% extends "base.html" %}
{% block signup %}
<div class="signup">
    <h3>Formulaire de création de compte</h3>
     <form action={{ url_for('signup') }} method="POST">
        <label for="nom">Nom :</label><br>
        <input type="text" id="nom" name="nom" required="true"><br>
        <label for="prenom">Prenom :</label><br>
        <input type="text" id="prenom" name="prenom" required="true"><br>
        <label for="mail">Courriel :</label><br>
        <input type="email" id="mail" name="mail" required="true"><br>
        <input type="submit" value="submit" />
    </form>
    
</div>
{% endblock %}
